// .app {
//     // background-image: url("~/assets/images/super-duper-mart.jpeg")
// }

.text-body {
    font-size: 1.8em;
    width: 50%;
    margin: 50px;
    position: relative;
    top: 60px;


}

.text-body p {
    margin-bottom: 20px;
}

.text-body img {
    height: 200px;
    width: 400px;
    float: right;
    margin: 20px
}